<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <!--<meta content="text/html;charset=UTF-8"/>-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1"/>-->
    <!--<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/css/usermessage.css}" rel="stylesheet"/>-->
</head>
<body>
<div class="my_nala_centre"  th:fragment="actcount">
    <div class="ilizi">
        <div class="box">
            <div class="box_1">
                <div class="actnum">

                    <h5>
                        <spna>活動統計</spna>
                    </h5>
                    時間範圍：
                    <select id="selPeriods">
                        <option value="1">一個月內</option>
                        <option value="3">三個月內</option>
                        <option value="6">半年內</option>
                        <option value="12" selected>一年內</option>
                    </select>
                    <input type="button" value="查詢" onclick="actnum()" >
                    <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                        <tbody>
                            <tr>
                                <th align="center" bgcolor="#FFFFFF">店鋪名</th>
                                <th align="center" bgcolor="#FFFFFF">類型</th>
                                <th align="center" bgcolor="#FFFFFF">活動名稱</th>
                                <th align="center" bgcolor="#FFFFFF">開始時間</th>
                                <th align="center" bgcolor="#FFFFFF">結束時間</th>
                                <th align="center" bgcolor="#FFFFFF">時長</th>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
