<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/header/css/header.css}" rel="stylesheet"/>
</head>
<body>
<!--header-->
<div th:include="header :: header"></div>
<!--輪播圖片-->
<div id="myCarousel" class="carousel slide"  data-ride="carousel" data-interval="5000">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators" style="text-align:right">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="#" style="background-image:url(/images/20190102dsjsrs.jpg);    width: 100%;
    height: 40vh;
    display: block;
    background-size: 100% 100%;" ></a>
<!--            <img th:src="@{/images/20190102dsjsrs.jpg}" alt="First slide">-->
        </div>
        <div class="item">
            <a href="#" style="background-image:url(/images/20190102dsjsrs.jpg);    width: 100%;
    height: 40vh;
    display: block;
    background-size: 100% 100%;" ></a>
<!--            <img th:src="@{/images/20190102fdxahh.jpg}" alt="Second slide">-->
        </div>
    </div>
</div>
<!--全部活動按鈕-->
<div style="padding:3rem">
    <div class="click-button-header" style="padding:1rem 8rem;"  onclick="javascript:window.location.href='class.php?page=1&category=0&time=all&free=0'">
        <a style="color:#fff" >
            全部活動   &gt;
        </a>
    </div>
</div>

<!--熱門產品展示頁-->
    <div style="display:-webkit-box;">
        <div class="col-xs-3 col-sm-3"></div>
        <div class="col-xs-6 col-sm-6">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active index-goods-show">
                    <a href="#home" data-toggle="tab" style="background-color:#162C4E;border:0px;color:#fff;padding:0.8vh" >
                        菜鸟教程
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="row">
                                <table>
                                    <tr th:each="goods:${recommend}">
                                        <div class="col-xs-3 col-sm-6 col-md-3 index-page" >
                                            <div style="box-shadow:0px 0px 5px #ccc;padding-bottom:5px">
                                                <div class="thumbnail" style="padding: 0px">
                                                    <img th:src=${goods.goods_img} alt="通用的占位符缩略图">
                                                </div>
                                                <div class="caption">
                                                    <h4 th:text=${goods.goods_name} ></h4>
                                                    <p th:text=${goods.goods_name} ></p>
                                                    <p>
                                                        <a th:href=${goods.goods_url} class="btn btn-primary" role="button" th:text=${goods.goods_addr} >按鈕</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3"></div>
    </div>
<div  class="text-center" th:include="footer :: copyright"></div>


<script th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    var single = [[${singlePerson}]];
    console.log(single.name+"/"+single.age);
    function getName(name) {
        console.log(name);
    }
</script>
</body>
</html>