<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
</head>
<body>

    <div class="my_list_details" th:fragment="userdetail">
        <div class="ilizi cle">
            <div class="box">
                <div class="box_1">
                    <h5><span>活動狀態</span></h5>

                    <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                        <tbody>
                            <tr>
                                <td width="15%" align="right" bgcolor="#ffffff">活動號：</td>
                                <td align="left" bgcolor="#ffffff" style="text-align: left" th:text=${act_time}></td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">活動狀態：</td>
                                <td align="left" bgcolor="#ffffff" style="text-align: left" th:text=${act_state}></td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">付款狀態：</td>
                                <td align="left" bgcolor="#ffffff" style="text-align: left" th:text=${pay_state}></td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#ffffff">取票狀態：</td>
                                <td align="left" bgcolor="#ffffff" style="text-align: left" th:text=${ticket_state}></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="blank"></div>
                    <h5>
                        <span>活動列表</span>
                        <a onclick="returntocart(this)" class="returncart" th:id=${goods_num}>放回購票中心</a>
                    </h5>

                    <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                        <tbody>
                            <tr>
                                <th width="23%" align="center" bgcolor="#ffffff">活動名稱</th>
                                <th width="29%" align="center" bgcolor="#ffffff">屬性</th>
                                <th width="13%" align="center" bgcolor="#ffffff">活動價格</th>
                                <th width="15%" align="center" bgcolor="#ffffff">購買數量</th>
                                <th width="20%" align="center" bgcolor="#ffffff">小計</th>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="text-align: center">
                                    <a href="http://localhost:8080/test/goods" target="_blank"  th:text=${act_name}></a>
                                </td>
                                <td align="left" bgcolor="#ffffff"   th:text=${act_att}>
                                </td>
                                <td bgcolor="#ffffff">
                                    <font th:text=${act_price}></font>
                                </td>
                                <td bgcolor="#ffffff" th:text=${pay_num}></td>
                                <td bgcolor="#ffffff">
                                    <font th:text=${sub_total}></font>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" bgcolor="#ffffff" style="text-align: right" >-  使用紅包：<font th:text=${red_packet}></font></td>
                            </tr>
                            <tr>
                                <td colspan="8" bgcolor="#ffffff" style="text-align: right" >應付款金額：<font th:text=${total_amount}></font></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="blank"></div>

                    <h5><span>支付方式</span></h5>
                    <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                        <tbody>
                            <tr>
                                <td bgcolor="#ffffff" style="text-align: right">
                                   所選支付方式：<a style="color:#000000;cursor:default;" th:text=${pay_method}></a>，應付款金額：<strong><font th:text=${total_amount}></font></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>